bokeh
botocore
earthaccess
folium
eo_insights[notebooks] @ git+https://github.com/frontiersi/eo-insights.git@develop
geopandas
ipyleaflet
jinja2
matplotlib
mapclassify
odc-geo[all]
odc-stac[all]
pystac-client
